<h1>Listing poll_questions</h1>

<%= link_to 'New Poll question', new_poll_question_path, id: "new_poll_quest", remote: true  %>



  <div class="container">
    <% @poll_questions.each do |poll_question| %>
      <tr>
      <p>
  <strong>Question:</strong>
  <%= poll_question.content %>
</p>


<!-- listing all answers with radio buttons  -->
<%= form_tag do %>
  <ol>
    <% for poll_answer in poll_question.poll_answers %>
      <li>
        <%= radio_button_tag "poll", poll_answer.content%>
        <%= h poll_answer.content %>
        <%= poll_answer.counter %>
      </li>
    <% end %>
  </ol>
  <%= link_to 'vote', poll_questions_path %><br><br>
<% end %>

      </tr>
    <% end %>

<br>

</div>
