<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @poll_question.content %>
</p>



  <ol>
    <% for poll_answer in @poll_question.poll_answers %>
      <li>
	    <%= radio_button_tag "poll", poll_answer.content ,true%>
	  	<%= h poll_answer.content %>
	  	<!-- counter for how many one voted for this Question -->
        <%= poll_answer.counter %>
      </li>
    <% end %>
  </ol>





<%= link_to 'Edit', edit_poll_question_path(@poll_question) %> |
<%= link_to 'Back', poll_questions_path %>
