<html>
<head>

<title>Kiddizen</title>

<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "jquery-ui-1.8.4.custom.min.js" %>
<%= javascript_include_tag "jquery.inview.js" %>
<%= javascript_include_tag "jquery.parallax-1.1.js" %>
<%= javascript_include_tag "introscript.js" %>
<%= javascript_include_tag "spin.js" %>
<style></style>
<%= javascript_include_tag "jquery.jplayer.min.js" %>
<%= javascript_include_tag "qtransform.js" %>
<%= javascript_include_tag "jquery.mousewheel.js" %>
<%= javascript_include_tag "jquery.backgroundPosition.js" %>
<%= stylesheet_link_tag "introstyle.css" %>
    
</head>

<body>
    <!--[if lte IE 8]>
  <div style="width:100%;height:100%;background-color:red;background:url(img/ie.png) red no-repeat center center;position:fixed;z-index:15000" >
     
  </div>
<![endif]-->
     
<section id="mainBody" style="width: 1301px;">
    <section id="page1">
        <section class="container">
            <section id="son"></section>
            <section id="dad" style="width: 900.5px; overflow: hidden;"></section>
            <section id="dadf" style="-webkit-transform: rotate(0rad);"></section>
            <section id="sonf" style="-webkit-transform: rotate(1.8rad);"></section>
            <section id="footaer"></section>
        </section>
    </section>
    <section id="lang">
        <section class="container">
            <section id="home"></section>
            <section id="lang_con">
                <section class="container">
                    <a class="toppb" id="fa" href="kids">عربي</a>
                    <a class="toppb fonte" id="en" href="kids">&nbsp;English</a>
                    <seciton class="fonte choose"><span>Please</span> choose your language</seciton>
                </section>
            </section>
        </section>    
    </section>
    
    <section id="lang2"> <!--select language for parents-->
        <section class="container">
            <section id="home2"></section>
            <section id="lang_con2">
                <section class="container">
                    <a class="toppb" id="fa" href="/supervisors/dashboard">عربي</a>
                    <a class="toppb fonte" id="en" href="/supervisors/dashboard">&nbsp;English</a>
                    <seciton class="fonte choose2"><span>Please</span> choose your language</seciton>
                </section>
            </section>
        </section>    
    </section>
    <section id="bedtime"><section id="bed_con">
        <section id="bed_ar"></section>
        <section id="bed1">
            <section id="bed_colok" class="fonte">3<span style="font-size:99px;"> </span>35</section>
            <section id="bed_oh" class="fonteb">
                o...Oh...!
            </section>
            <section id="bed_sleep" class="fonte">
                Its time to sleep!
            </section>
            
        </section>
    <section id="dad_con" style="bottom: -200px;">
        <section class="container">
            <section id="dad_eye" class=""></section>
        </section>
    </section>
    
        <section id="bed2">
            <section id="permit" class="fonte">I'm permitted by my parents!</section>
        </section>
    </section></section>
    
    <section id="navigate">
        <section class="container">
            <section id="nav1">
                <section id="nav_txt"> </section>
                <section id="nav_box"><section class="container">
                    <section id="mouse"></section>
                    <section id="nav_border"></section>
                    <section id="foot_txt2"></section>
                    <section id="key"></section>
                    <section id="key2"></section>
                    <section id="mouse_txt">  </section>
                    <section id="key_txt">    </section>
                    <section id="nav_line"></section>
                </section></section>
                <section id="nav_cont_box">
                    <section id="nav_cont" class="login_btn3">  </section>
                </section>
            </section>
            
            
        </section>
    </section>
    
    <section id="first_foot">
        <section class="container">
            <section id="sitemap_btn"></section>
        </section>
    </section>
       
    
        <section id="foot_txt" style="left:295px!important;"></section>
        <section id="sitemap">
            <section class="container">
                <a href="http://facebook.com/" target="_blank" id="fb_sm" class="button"></a>
                <table id="sitemap_table" class="fonten">
                    <tbody><tr class="sm_head fontenb"><td width="100">Kids</td><td width="100">Parents</td><td width="100">We</td></tr>
                    <tr><td><a href="kids.html">Home</a></td>
                        <td><a href="parents/articles.html">Articles</a></td>
                        <td><a href="index.html">Intro</a></td></tr>
                    <tr><td><a href="kids/puzzle.html">Puzzle</a></td>
                        <td><a href="parents/doctor.html">Dr.Online</a></td>
                        <td><a href="about.html">About us</a></td></tr>
                    <tr><td><a href="kids/color.html">Painting</a></td>
                        <td></td>
                        <td><a href="contact.html">Contact us</a></td></tr>
                    <tr><td><a href="kids/story.html">Story</a></td>
                        <td></td><td><a href="http://www.facebook.com/">Facebook</a></td></tr>
                    <tr><td><a href="kids/learning.html">Learning</a></td>
                        <td></td><td></td></tr>
                    <tr><td><a href="kids/cooking.html">Cooking</a></td>
                        <td></td><td></td></tr>
                </tbody></table>
                <section id="where" class="fonte">Where do you want to go?</section>
                    
            </section>
        </section>           
</section>

 

<section class="info" id="logged"></section> 
 
    <div id="pre" class="data">/</div>



</body></html>