<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @poll.question %>
</p>

<p>
  <strong>Asnwer1:</strong>
  <%= @poll.asnwer1 %>
</p>

<p>
  <strong>Answer2:</strong>
  <%= @poll.answer2 %>
</p>

<p>
  <strong>Answer3:</strong>
  <%= @poll.answer3 %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
