<%= form_for(@supervisor) do |f| %>
  <% if @supervisor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supervisor.errors.count, "error") %> prohibited this supervisor from being saved:</h2>

      <ul>
      <% @supervisor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :personal_id %><br>
    <%= f.text_field :personal_id %>
  </div>
  <div class="field">
    <%= f.label :phone_num %><br>
    <%= f.text_field :phone_num %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
