<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <%- #COMMMEEENT -%>
  <div class="field">
  <%= f.label :month %><br>
    <%= f.select :month, (1..12).to_a, selected: @current_user.created_at.month %>
  </div>
  <%- #COMMMEEENT -%>
  <div class="field">
  <%= f.label :day %><br>
    <%= f.select :day, (1..31).to_a, selected: @current_user.created_at.day %>
  </div>
  <%- #COMMMEEENT -%>
  <div class="field">
  <%= f.label :year %><br>
    <%= f.select :year, ((Time.now.year - 20)..Time.now.year).to_a, selected: @current_user.created_at.year %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>