<p id="notice"><%= notice %></p>
<%- # to show each event details after creation -%>
<%- # to show image photo -%>
<%- # Nouran Mamdouh -%>
<p>
<strong>Photo:</strong>
<%= image_tag @event.image_url(:thumb) if @event.image? %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @event.date_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
