<p id="notice"><%= notice %></p>
<%- # to show each event details after creation -%>
<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @event.date_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<%- # add link to view friends of current child -%>
<%- #Author : Nouran Mamdouh -%>
<%=link_to "View friends", controller: "events", action: "view_friends"%>
<%= link_to 'Edit', edit_event_path(@event) %> 
<%= link_to 'Back', events_path %>
