<%= form_for(@profile_owner) do |f| %>
  <% if @profile_owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile_owner.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile_owner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
   <%= f.label :image,"Upload your Photo from Here" %> <br />
   <%= f.file_field :image, :id => "loc", :onclick => "doLoc()" %>
  </p>
  <script type="text/javascript">
  function doLoc () {
    document.getElementById("rem").value = '';
  }
  function doRem() {
    document.getElementById("loc").value = '';
  }
  </script>
  <p><%= f.submit %></p>
<% end %>
