<p id="notice"><%= notice %></p>
<%- # to show each profile details after creation -%>
<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @profile.date_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
