<% if @notifications.empty? %>

  <p id="no_notifications">No new notifications<p>

<% end %>

<% @notifications.each do |notification| %>

  <div onclick="collapse(this)" class="collapsable_container" id="<%= notification.id %>" >
  <!-- Input is used for preserving state -->
  <div class ="round_button">
    <label class="header"><input type="checkbox" class="filter" disabled="true" /> 
      <p class="round_inner"><%= notification.title %></p>
    </label>
  </div>
  <!-- This is the div containing the actual content -->    
    <div class="collapsable_field">
      <p class="notification_short_desc"><%= notification.short_desc %> </p>
      <p class="notification_long_desc"><%= notification.long_desc %> </p>
      <% # Does it have an associated partial ? %>
      <% if !notification.embedded_view_url.nil? %>
      <%= render partial: notification.embedded_view_url, locals: { notification: @notification} %>
      <% end %>
    <div class="notification_actions">
      <% notification.actions.each do |action| %>
        <% # Each notification action is essentially a button %>
        <div class="round_button" <%= on_click(action) %> > 
          <% if action.async? %>
            <p class="round_inner notification_action"><%= action.name %>
          <% else %>
            <a class="round_inner notification_action" href="<%= action.url %>"><%= action.name %></a>
          <% end %>
        </div>
      <% end %>
    </div>

    </div>
  </div>

<% end %>
