<p id="notice"><%= notice %></p>

<p>
  <strong>Survey question:</strong>
  <%= @survey.survey_question %>
</p>

<p>
  <strong>Survey answers:</strong>
  <%= @survey.survey_answers %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
