<html class="no-js">
<head>
  <title>Kiddizen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "http://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
  <%= javascript_include_tag "http://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag("general.css") %>
  <%= yield :stylesheet_includes %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :defaults, "http://localhost:9292/faye.js" %>
</head>

<link rel="shortcut icon" href="/assets/icon.gif"/>
<body class="home traffic-sw-theme yellow">
<link rel="stylesheet" type="text/css" href='/assets/stylesheets/headband.css' />
   <% if signed_in? %>
     Logged in as <strong><%= current_user.email %></strong>.b>
     <%= link_to 'Inbox', messages_path  %> |
     <%= link_to 'Send message', new_message_path  %> | 
   <% end %>
  <br/>

<div class="main">

  <div class="main_resize">
      <p class="navbar-text pull-right">
        <%= link_to "العربية", change_locale_path(locale: :ar) %>
        <%= link_to "English", change_locale_path(locale: :en) %>
      </p>
      <div id="alert_container">
    <% flash.each do |key, value| %>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <% end %>      
  </div>
    <div class="header">
<% if ( session[:locale] == "en")%> 
      <div class="logo">
        <h1><a href="#"><img src="/assets/icon.gif" width="50" height="50" alt="" /><span><%= t('kid') %></span><%= t('dizen') %><small></small></a></h1>
      </div>
     <div class="search">
        <form method="get" id="search" action="/searches">
          <span>
          <input name="searchsubmit" type="image" src="/assets/search.gif" class="btn"  />
          <input type="text" name="search" placeholder="<%= t('search') %> .." required="true" autocomplete="off" />
          </span>
        </form>
        <div class="clr"></div>
      </div>
<% end %>
<% if ( session[:locale] == "ar")%>
  <div class="logo1">
    <h1><a href="#"><span><%= t('kid') %></span><%= t('dizen') %><img src="/assets/icon.gif" width="50" height="50" alt="" /><small></small></a></h1>
  </div>
        <div class="search1">
          <form method="get" id="search" action="/searches">
            <span>
              <input name="searchsubmit" type="image" src="/assets/search.gif" class="btn"  />
              <input type="text" name="search" placeholder="<%= t('search') %> .." required="true" autocomplete="off" />
            </span>
          </form>
          <div class="clr"></div>
        </div>
<% end %>
      <div class="clr"></div>
     <div class="sup_dash">
     <% if not signed_in? or Supervisor.exists?(current_user) %>
       <h3><a href="/supervisors/dashboard">Supervisors From here</a></h3>
     <% end %>
     </div> 
      <div class="menu_nav">
        <% if ( session[:locale] == "en")%>
        <ul>
          <li class="active"><a href="/"><%= t('home') %></a></li>
          <li><%=link_to t('profile'), "profile/"+current_user.username %></li>
          <li><a href="#"><%= t('activities') %></a></li>
          <% if signed_in? %>
            <li><%= link_to t('logout'), signout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Sign in", controller: :sessions, action: :new %></li>
            <li><%= link_to "Sign up", controller: :children, action: :signup %></li>
          <% end %>
          <li><%= link_to t('messages'), controller: :messages, action: :index %></li>
        </ul>
        <% end %>

       <% if ( session[:locale] == "ar")%>
        <ul>
        <li><a href="#"><%= t('logout') %></a></li>
        <li><a href="#"><%= t('notifications') %></a></li>
        <li><a href="#"><%= t('messages') %></a></li>
        <li><a href="#"><%= t('PlayGround') %></a></li>
        <li><%=link_to t('profile'), "profile/"+current_user.username%></li>
        <li class="active"><a href="/"><%= t('home') %></a></li>
        </ul>
        <% end %>
        <div class="clr"></div>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <% if ( session[:locale] == "en")%>
        <div class="mainbar">
            <%= yield %>
            </br></br></br></br></br></br></br>
          </div>
        </div>
      </div>
        <div class="sidebar">
          <div class="gadget">
            <div class="clr"></div>
            <ul class="sb_menu">
              <li class="active"><a href="/friendships/view_my_friends"><%= t('friends') %></a></li>
              <li><a href="/groups"><%= t('groups') %></a></li>
              <li><a href="/events"><%= t('events') %></a></li>
              <li><a href="/photos"><%= t('Photo Gallery') %></a></li>
              <li><a href="/videos"><%= t('video Gallery') %></a></li>
              <li class="active"><a href="#"><%= t('friends') %></a></li>
              <li><a href="/profile/amaar"><%= t('profile') %></a></li>
	      <li><a href="/friendships/view_pending_friendship_requests.html"><%= t('Pending Friend Requests') %></a></li>
            </ul>
          </div>  
        </div>  
        <% end %> 
        <% if ( session[:locale] == "ar")%> 
        <div class="mainbar1">
            <%= yield %>
            </br></br></br></br></br></br></br>
          </div>
        </div>
      </div>
        <div class="sidebar1">
          <div class="gadget">
            <div class="clr"></div>
            <ul class="sb_menu">
              <li class="active"><a href="#"><%= t('friends') %></a></li>
              <li><a href="#"><%= t('groups') %></a></li>
              <li><a href="#"><%= t('events') %></a></li>
              <li><a href="#"><%= t('chat_rooms') %></a></li>
            </ul>
          </div>  
        </div>  
        <% end %>  
	<% if signed_in? %>
	<div class="box">
	  <div class="bet_time2">
	    <% if Child.exists?(registered_user: current_user) %>
       <% @child = Child.find_by(registered_user: current_user) %>
  	    <%= render partial: "friendships/view_my_friends", locals: {friends: @child.friends, child: @child} %>
      <% end %>
	  </div>
	</div>
	<div class="box">
	  <div class="bet_time1">
	    <image src="/assets/chat.png" width="50px" height="60px" />
	    Online Friends
	  </div>
	</div>
	<div class="box">
	  <div class="bet_time">
	    <h3></DIC> Chat Box</h3>
              <div id="chatBox"></div>
              <div id="usersOnLine"></div>
              <form id="messageForm">
	        <input id="message" type="text" height="40px">
	        <input class="testbutton" id="send" type="submit" value="Send">
                <div id="serverRes"></div>
              </form>
	  </div>
	</div>
	<% else %>
	<% end %>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
</body>
</html>
