<!DOCTYPE html>
<html>
<head>
  <title>Supervision Portal</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    "supervisors", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "supervisors", "data-turbolinks-track" => true %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
