<% # Layout for all of supervisor's pages %>
<% # Authors: Ahmed H. Ismail %>
<!DOCTYPE html>
<html>
<head>
  <title>Supervision Portal</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    "supervisors", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "supervisors", "data-turbolinks-track" => true %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div id="left_panel">
  <div id="notifications_container"></div>
</div>
<!-- Script for loading pending notifications -->
<script type="text/javascript" language="javascript">    
function load_pending_notifications() {
            <%= remote_function(:url => {:controller => "notifications", :action => "pending"},
                                  :update => "notifications_container")%>
        };
</script>
</body>
</html>
