<% # Layout for all of supervisor's pages %>
<% # Authors: Ahmed H. Ismail %>
<!DOCTYPE html>
<html>
<head>
  <title><%= t('supervisor_layout_title') %></title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    "supervisors", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "supervisors", "data-turbolinks-track" => true %>
  <%= javascript_include_tag("notification_action.js") %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="navbar-text pull-right">
  <%= link_to "Arabic", change_locale_path(locale: :ar) %>
  <%= link_to "English", change_locale_path(locale: :en) %>
  </p>

  <%= yield %>

  <div id="left_panel">
    <div id="notifications_container">
    <% # To be filled by load_pending_notifications %>
    </div>
  </div>
</body>
</html>
