<h1>Listing children</h1>

<table>
  <thead>
    <tr>
      <th>Approved</th>
      <th>Guardian email</th>
      <th>User name</th>
      <th>Password</th>
      <th>First name</th>
      <th>Birth of date</th>
      <th>Gender</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td><%= child.approved %></td>
        <td><%= child.guardian_email %></td>
        <td><%= child.user_name %></td>
        <td><%= child.password %></td>
        <td><%= child.first_name %></td>
        <td><%= child.birth_of_date %></td>
        <td><%= child.gender %></td>
        <td><%= link_to 'Show', child %></td>
        <td><%= link_to 'Edit', edit_child_path(child) %></td>
        <td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Child', new_child_path %>
