<p id="notice"><%= notice %></p>

<p>
  <strong>Approved:</strong>
  <%= @user.approved? %>
</p>

<p>
  <strong>Guardian email:</strong>
  <%= @user.guardian_email %>
</p>

<p>
  <strong>User name:</strong>
  <%= @user.registered_user.username %>
</p>



<p>
  <strong>First name:</strong>
  <%= @user.registered_user.first_name %>
</p>

<p>
  <strong>Birth of date:</strong>
  <%= @user.registered_user.birth_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.registered_user.gender %>
</p>


<%= link_to 'profile music', profile_musics_path %><br><br>
<%= link_to 'poll Questions', poll_questions_path %><br><br>