<p class="fields">
  <%= f.label :max, "max range" %><br />
  <%= f.text_field :max %><br />
  <%= f.label :min, "min range" %><br />
  <%= f.text_field :min %><br />
  <%= f.label :value, "value " %><br />
  <%= f.text_field :value %><br />
  <%= link_to_remove_fields "remove", f %>
</p>