<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @new_survey.name %>
</p>



<ol>
  <% for @question in @new_survey.questions %>
    <li><%= h @question.content %></li>
    <ul>
      <% for answer in @question.answers %>
        <div class = "radioo">
          <input type="radio" name="<%= answer.content %>" value="<%= answer.content %>">
        <%= h answer.content %></li>
        </div>
      <% end %>
      <% for pic_model in @question.pic_models %>
        <li>
          <label>
            <li>
              <div class = "box">
                <input type="checkbox" name="<%= pic_model.pic_url %>" value="<%= pic_model.pic_url %>" />
            <img src="<%= pic_model.pic_url %>" width="100" height="100" />
            </div>
          </label>
        </li>
      <% end %>
      <% for range_slider in @question.range_sliders %>
        <input type="range" min="<%= range_slider.min %>" max="<%= range_slider.max %>" value="<%= range_slider.value %>" onchange="showValue(this.value)" />
        <span id="range">0</span>
      <% end %>
      <% for rank in @question.ranks %>
        <li><%= h rank.content %></li>
      <% end %>
    </ul>
  <% end %>
</ol>



<button onclick="submit()">submit</button>

<%= link_to 'Back', new_surveys_path %>



<script type="text/javascript">

function create_ajax_request (url, data, callback) {
  var xhr = new XMLHttpRequest();

  xhr.open('PUT', url, true);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.setRequestHeader('Accept', 'application/json'); // I want JSON 
  xhr.responseType = "json";
  xhr.addEventListener('load', function() {
    xhr.responseJSON =  xhr.response;
    console.log(xhr.responseJSON);
    callback(xhr.responseJSON,  xhr);
  });
  xhr.send( JSON.stringify(data) );
  return xhr;
}


function submit()
{
  var SelectedValue = [];
  var name = 0;
var radios = document.getElementsByTagName("input");
for(var i=0; i<radios.length; i++) {
  if(radios[i].checked)
      {
        var valueSelected = radios[i].value;
        window.alert(valueSelected);
        SelectedValue.push("valueSelected")
      }
}
var url = ['http://' + location.host, 'new_surveys', 'submit'].join('/');
var callback = function(responseJSON, xhr) {
    }
create_ajax_request(url, {arrays: SelectedValue}, callback);
}

function showValue(newValue)
{
  document.getElementById("range").innerHTML=newValue;
}

</script>