  <!--# This page is to show a survey.
    # Parameters : None.
    # Returns : None.
    # Author : Ahmad Bassiouny.-->
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @new_survey.name %>
  </p>



  <ol>
    <% for @question in @new_survey.questions %>
      <li><%= h @question.content %></li>
      <ul>
        <% for answer in @question.answers %>
          <div class = "radioo">
            <input type="radio" name="poll" value="<%= answer.content %>">
            <%= h answer.content %></li>
          </div>
        <% end %>
        <% for pic_model in @question.pic_models %>
          <li>
            <label>
              <li>
                <div class = "box">
                  <input type="checkbox" name="<%= pic_model.pic_url %>" value="<%= pic_model.pic_url %>" />
                  <img src="<%= pic_model.pic_url %>" width="100" height="100" />
                </div>
              </label>
            </li>
        <% end %>
        <% for range_slider in @question.range_sliders %>
          <input type="range" min="<%= range_slider.min %>" max="<%= range_slider.max %>" value="<%= range_slider.value %>" onchange="showValue(this.value)" />
          <span id="range">0</span>
        <% end %>
        <% for rank in @question.ranks %>
          <li><%= h rank.content %></li>
        <% end %>
      </ul>
    <% end %>
  </ol>



  <button onclick="submit(); RedirectTo();">submit</button>

  <%= link_to 'Back', new_surveys_path %>
