<% content_for :javascript_includes do %>
  <%= javascript_include_tag("access.js") %>
<% end %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag("access.css") %>
<% end %>
<!-- This part views a text field and a submit buuton, which are used to submit 
a tag to be prevented from a child, 
and it also views the tags that has been submitted already.
Authors: Mohamed Khaled AbdelMeguid. -->
<% if @child == nil %>
  <p>You have no children </p>
<% else %>
  <input type="text" id="submitTags" >
  <button onclick="ban(<%= "\"#{@child.registered_user.username}\"" %>)">Ban it!</button>  
  <% Keyword.where(child_name: @child.registered_user.username).each do |key|%>
    <div class = "whole">
      <div id = "<%= key.tags %>">
        <text class = "tags" > - <%= key.tags %> </text>
          <button onclick = "deleteInfo(<%= "\"#{key.tags}\"" %> , 
            <%= "\"#{@child.registered_user.username}\"" %> ) " class = "del" > 
            X
          </button>
    </div>
  <%end%>  
<%end%>





