<!-- This method includes the javascript file to use it's functions -->  
<!-- Authors: Shary Beshara -->    
<% content_for :javascript_includes do %>
  <%= javascript_include_tag("ban_topics.js") %>
<% end %>

<!-- This method list all the topics of the available activities -->  
<!-- Authors: Shary Beshara -->    
<div id = "list_of_activities">
  <% Activity.all.each do |activity| %>
    <% if !BannedTopic.exists?(child_name: @child.registered_user.username,
      activity_topic: activity.topic) %>
      <button   onclick = "banTopic(this, <%= "\"#{activity.topic}\"" %>, <%= 
        "\"#{@child.registered_user.username}\"" %>)" >
        <%= activity.topic %>
      </button>
    <% end %>
  <% end %>
</div>

<!-- This method list all the banned topics of the child -->  
<!-- Authors: Shary Beshara -->  
<div id = "topics">
  <% BannedTopic.where(child_name: @child.registered_user.username).each do 
    topic| %>
    <div id = "<%= topic.activity_topic  %>" > 
      <%= topic.activity_topic %>
      <button onclick = "deleteTopic(<%= "\"#{topic.activity_topic}\"" %>, <%= 
        "\"#{@child.registered_user.username}\"" %>)" >
        X
      </button>
    </div>
  <% end %>
</div>
