  
<% content_for :javascript_includes do %>
  <%= javascript_include_tag("ban_topics.js") %>
<% end %>


<div id = "list_of_activities">
  <% Activity.all.each do |activity| %>
   <% if !BannedTopic.exists?(child_name: @child.registered_user.username, activity_topic: activity.category) %>
    <button   onclick = "banTopic(this, <%= "\"#{activity.category}\"" %>, <%= "\"#{@child.registered_user.username}\"" %>)" >
     <%= activity.category %>
    </button>
    <% end %>
  <% end %>
</div>

<div id = "topics">
  <% BannedTopic.where(child_name: @child.registered_user.username).each do |topic| %>
    <div id = "<%= topic.activity_topic  %>" > 
      <%= topic.activity_topic %>
      <button onclick = "deleteTopic(<%= "\"#{topic.activity_topic}\"" %>, <%= "\"#{@child.registered_user.username}\"" %>)" >
        X
      </button>
 
    </div>
  <% end %>
</div>



