
<p>
Description: <%= @video.description %>
</p>
<p>
Category: <%= @video.category %>
<p>
<p>
<%= video_tag @video.real_file,:controls => true, :size => "640x385" 
if @video.file? %>
</p>
<p>
  <% if @video.youtube? %>
    <iframe src="<%= "http://www.youtube.com/embed/"+@video.get_link %>" 
    width = "640" height = "385"></iframe>
  <% end %>
</p>
  <%= link_to "Destroy", @video, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", videos_path %>
</p>
