<p id="notice"><%= notice %></p>

<!--using show_for gem , an initial show view is created 
  for group displaying group_name, group_description,
  and the username of the group owner-->
<%= show_for @group do |u| %>
  <%= u.attribute :group_name %>
  <%= u.attribute :group_description %>
  <%= u.attribute :owner %>
<% end %>

<%= link_to "view membership requests", controller: :group_members, action: :membership_requests%>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
<%= button_to 'View Members', controller: :group_members, action: "view" %>
<h1>____________________________________________________________________________________</h1>
 <h1>Listing posts</h1>
 <%= render partial: "posts/form" %>
 <% @posts.each do |c| %>
   <%= render :partial => c %>
   <% @post = c %>
   <%= render partial: "posts/show" %>
 <% end %>
 <%= link_to 'New Post', new_post_path %>


<br>
