<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
<%= button_to 'Leave Group', action: "leave_group" %>
<%= button_to 'View Members', controller: :group_members, action: "view" %>