<p id="notice"><%= notice %></p>

<!--using show_for gem , an initial show view is created 
  for group displaying group_name, group_description,
  and the username of the group owner-->
<%= show_for @group do |u| %>
  <h3>Group Name</h3>
  <%= u.attribute :group_name %>
  <h3>Group Description</h3>
  <%= u.attribute :group_description %>
  <h3>Group Owner</h3>
  <%= u.attribute :owner %>
<% end %>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
