<p id="notice"><%= notice %></p>

<!--using show_for gem , an initial show view is created for group-->
<%= show_for @group do |u| %>
  <%= u.attribute :group_name %>
  <%= u.attribute :group_description %>
  <%= u.attribute :owner %>


<% end %>

<%= link_to "view membership requests", controller: :group_members, action: :membership_requests%>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
