<h2>Create Account</h2>
<div class="signin_form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <h3>Personal Info</h3>
   
  <div><%= f.label t('first_name') %><br />
    <%= f.text_field :first_name%></div>
  
  <div><%= f.label t('middle_name') %><br />
    <%= f.text_field :middle_name %></div>
  
  <div><%= f.label t('family_name') %><br />
    <%= f.text_field :family_name %></div>

  <div><%= f.label t('username') %><br />
    <%= f.text_field :username %></div>

  <div><%= f.label t('gender') %><br />
    <%# f.select :gender, [ ["Female", "female"], ["Male", "male"]] %>
    <%= f.text_field :gender %>
  </div>

  <div><%= f.label t('birth_date') %><br />
    <%= f.date_select :birth_date, start_year: Time.now.year - 100, end_year: Time.now.year - 20  %></div>
  
  <div><%= f.label t('nickname') %><br />
    <%= f.text_field :nickname %></div>

  <h3>Login Info</h3>

  <div><%= f.label t('email') %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label ('password') %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  
  <div><%= f.label t('password_confirmation') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
  <div> <%= f.label t("child_q") %><br/>
    <%= f.check_box :is_child %>

  <div><%= f.submit t('create_account_submit') %></div>
<% end %>

<%# render "registered_users/shared/links" %>
</div>