<h2>Create Account</h2>
<div class="signin_form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <h3>Personal Info</h3>
   
  <div><%= f.label :first_name %><br />
    <%= f.text_field :first_name%></div>
  
  <div><%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %></div>
  
  <div><%= f.label :family_name %><br />
    <%= f.text_field :family_name %></div>

  <div><%= f.label :username %><br />
    <%= f.text_field :username %></div>

  <div><%= f.label :gender %><br />
    <%= f.text_field :gender %></div>

  <div><%= f.label :birth_date %><br />
    <%= f.date_select :birth_date, start_year: Time.now.year - 100, end_year: Time.now.year - 20  %></div>
  
  <div><%= f.label :nickname %><br />
    <%= f.text_field :nickname %></div>

  <h3>Login Info</h3>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  
  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit t('create_account_submit') %></div>
<% end %>

<%# render "registered_users/shared/links" %>
</div>