<%= form_for :photo,:url =>{:controller => "public",:action => "uploading",:method => :post}, :html => {:multipart => true} do %>
      <%= file_field :photo,:uploaded_photo %>
      <%= submit_tag "Upload image" %>
<% end %> <br />
<!-- It is a form that we can choose photos through it and upload it Author : Hussien M. Eloy -->  
<%= render 'shared/error_photos_messages' %>
 
<div style='float:left; width:100%'>
 <!-- It shows a page that displays the photos inserted so far with a remove link besides it Author : Hussien M. Eloy -->
<% if @photos.size > 0 %>

      <% @photos.each do |img|%>
            <div style='float:left; width:auto; padding: 5px 5px 5px 5px;'>
               <% var_img = "upload_photos/#{img.photo_name}" %>
               <%= image_tag var_img, :height => '140px', :width => '185px' %><br />
               <a href='/removephoto/<%= img.id%>' onclick='return confirm("Are you sure?");'>Remove</a>
           </div>
      <% end %>

<% else %>
      No images found
<% end %>
 
</div>