<p id="notice"><%= notice %></p>


<p>
  <strong>User name:</strong>
  <%= @profile_owner.username %>
</p>



<p>
  <strong>First name:</strong>
  <%= @profile_owner.first_name %>
</p>

<p>
  <strong>Birth of date:</strong>
  <%= @profile_owner.birth_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile_owner.gender %>
</p>


