

<h3> Match shapes with their corresponding slots</h3>
<br>
<%= content_tag :div, class: "game_id", data: {drag_id: @drag_and_drop.id} do %>
<% end %>
<br>

<button type="button" onclick="history.go(0);"><i>Play Again</i></button>
<br>
<button type="button" onclick="shareScore();"><i>Share Score</i></button>
<br>

<script src="drag_and_drop.js">
</script>

<script type="text/javascript">
  var n = '<%= h @drag_and_drop.id -%>';
  var g = '<%= h @drag_and_drop.name -%>';
</script>
    
<div class='contentn'>
 <div class='triangle'>
  <a href='#' class='option' data-inf='portion'>
    <%= image_tag(@drag_and_drop.image_url(:thumb)) %>
  </a>
</div>
<br>
<br>
<div id="square">
  <%= image_tag(@drag_and_drop.image_url(:thumb)) %>
</div>
<br>
<br>
<div id="circle">
  <%= image_tag(@drag_and_drop.image_url(:thumb)) %>
</div>
<br>
<div id="sqrdrop"> </div>
<div id="trdrop"> </div>
<div id="crdrop"></div>
</div>
<table align = "right">
  <thead>
    <tr>
      <th>Your Past Scores</th>
    </tr>
  </thead>

  <tbody>
    <% for drag_score in @drag_and_drops_scores %>
      <tr>
        <td><%= drag_score.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<style src="drag_and_drop.css"></style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
