<h1>Listing messages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Sender</th>
      <th>Content</th>
      <th>Sentintime</th>
      <th>Sentindate</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.title %></td>
        <td><%= message.sender %></td>
        <td><%= message.content %></td>
        <td><%= message.sentInTime %></td>
        <td><%= message.sentInDate %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
