<!DOCTYPE html>
<!-- This page is used to show the photos using image_tag
accompanied by its description with 
some options to choose from. Author : Hussien M. Eloy -->
<p>
<%= image_tag @photo.image_url(:thumb) if @photo.image? %>
</p>
<p>
Description: <%= @photo.description %> 
</p>
<p>
  <%= link_to "Edit", edit_photo_path(@photo) %> |
  <%= link_to "Destroy", @photo, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", photos_path %>
</p>