<%= form_for(@profile_music) do |f| %>
  <% if @profile_music.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile_music.errors.count, "error") %> prohibited this profile_music from being saved:</h2>

      <ul>
      <% @profile_music.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :youtube_url %><br>
    <%= f.text_field :youtube_url %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
