<%= link_to 'New Song', new_song_path %>
<br>
<%= audio_tag @songs.first.real_file, :controls => true, :type => "audio/mp3", :id => "audio",
:tabindex => "0", :preload => "auto"%>
<ul id="playlist">
<li class="active">
<%= link_to @songs.first.name, @songs.first.real_file %> </li>
<% for song in @songs %>
<% if song != @songs.first %>
<li><%= link_to song.name, song.real_file %></li>
<% end %>
<% end %>
</ul>
<br>
<br>
<h3>You may want to Open each song Seperately</h3>
<% @songs.each do |song| %>
<%= link_to song.name, song %>
<br>
<% end %> 
<style type="text/css">
  #playlist,audio {
    background: #666;
    width: 400px;
    padding: 20px;
  } 
  .active a{
    color: #5DB0E6;
    text-decoration: none;
  }
  li a {
    color: #eeeedd;
    background: #333;
    padding: 5px;
    display: block;
  }
  li a:hover {
    text-decoration: none;
  }
</style>

<script type="text/javascript">
  var audio,playlist,tracks,current;
  init();
  function init () {
    current = 0;
    audio = $('audio');
    playlist = $('#playlist');
    tracks = playlist.find('li a');
    len = tracks.length - 1;
    audio[0].volume = .10;
    audio[0].play();
    playlist.find('a').click(function(e) {
      e.preventDefault();
      link = $(this);
      current = link.parent().index();
      run(link,audio[0]);
    });
    audio[0].addEventListener('ended',function(e) {
      current++;
      if(current == len+1) {
        current = 0;
        link = playlist.find('a')[0];
      }
      else {
        link = playlist.find('a')[current];
      }
      run($(link),audio[0]); 
    });
  }
  function run(link,player) {
    player.src = link.attr('href');
    par = link.parent();
    par.addClass('active').siblings().removeClass('active');
    audio[0].load();
    audio[0].play(); 
  }
</script>
