<% for puzzle in @puzzles %>
	<div class="puzzle"> 
		<h1> <%= puzzle.description %> </h1>
		<%= link_to "Show", puzzle %>
		<%= link_to "Edit", edit_puzzle_path(puzzle) %>
		<%= link_to "Destroy", puzzle, :confirm => 'Are you sure?',
      :method => :delete %> 
		<br>
	</div>
<% end %>
<p><%= link_to "New Puzzle", new_photo_path %></p>
